@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.header{
  display: flex;
  height: 12vh;
  width: 100%;
  position: fixed;
  background-color: black;
  border-bottom: solid 5px rgb(30, 30, 30);
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: center;
  height: 8vh;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover{
  /* text-decoration:underline; */
  font-weight: 700;
  text-shadow: 1px 0px 5px black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 20px;
}

/* BANNER */

.all{
  display: flex;
  flex-direction: column;
}


.banner {
  display: flex;
  height: 900px;
  padding: 40px 0;
  background-image: url("../assets/imgs/background-blur.png");
  background-size: cover;
}

.banner .container {
  display: flex;
  height: 900px;
  width: 100%;
  font-size: 36px;
  justify-content: center;
  /* align-items: center; */
}

/* Jogos do dia */
.container .jogos{
  display: flex;
  margin-top: 18vh;
  background-color: white;
  border-radius: 15px;
  width: 40vw;
  height: 70vh;
  justify-content: space-around;
  margin-right: 5vw;
  margin-left: 8vw;
  flex-direction: column;
  border: solid black 2px;
  box-shadow: 3px 7px 15px black;
}

.container .jogos h1{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: black;
  width: 100%;
}

.container .jogos .data-jogos{
  display: flex;
  width: 8vw;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-top: 2vh;
  border: solid black 3px;
  border-radius: 35px;
  padding-right: 5vw;
  padding-left: 5vw;
}

.jogos .lista-jogos{
  display: flex;
  width: 34vw;
  height: 50vh;
  margin-left: 3vw;
  margin-right: 2vw;
  margin-top: 1vh;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}


.lista-jogos .horario{
  width: 20%;
}

.horario span{
  display: flex;
  border: solid 2px black;
  border-radius: 30px;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  align-items: center;
  background-color:#cedbd2;
}

.lista-jogos .jogo1{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: flex-start;
}

.lista-jogos .jogo2{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo3{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo4{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .time1{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: none;
}

.lista-jogos .time2{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: none;
}
.lista-jogos .horario{
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
  font-size: 0.70em;
  justify-content: center;
}

.lista-jogos .nome-selecao{
  color: black;
  font-size: 25px;
  align-items: center;
  width: 80%;
}

.time1 .nome-selecao{
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: right;
}

.time1 i{
  display: flex;
  margin-left: 1vw;
  align-items: center;
}

.time2 i{
  display: flex;
  margin-right: 1vw;
  align-items: center;
}

.time2 .nome-selecao{
  margin-right: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: left;
}

.horario span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

/* Times Favoritos */
.times-favoritos{
  display: flex;
  background-color: white;
  height: 720px;
  width: 1030px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  flex-direction: column;
}

.times-favoritos span{
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: 600;
}

.times-favoritos .times-favoritos-container{
  border:solid 1px black;
  height: 600px;
  width: 980px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgb(210,210,210);
}

.times-favoritos-container button{
  border: none;
}

.colunas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

.colunas .time{
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  height: 180px;
  width: 170px;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: white;
  background-size: cover;
}

.colunas .time:hover{
  box-shadow: 3px 0px 10px white;
}

.time img{
  margin-top: 10px;
}

.time .barra-botao{
  display: flex;
  background-color: black;
  height: 38px;
  width: 170px;
  margin-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
}

.barra-botao button{
  background-color: #121211;
  color: white;
  width: 100px;
  height: 28px;
  border-radius: 10px;
  border: solid 2px white;
  font-weight: 800;
}

/* FOOTER */

.footer {
  background-color: black;
  height: 100px;
  color: black;
  display: flex;
  font-size: 15px;
  border-top: solid 5px rgb(30, 30, 30);
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.banner .container .card-login {
  background-color: #e5e5e5;
  height: 50vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
}


.banner .container h2{
  font-size: 50px;
  margin-top: 10px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: black 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 25px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

input {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  width: 150px;
  align-self: center;
  margin-top: 15px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}