*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
  
.banner{
  height: 850px;
  display: flex;
}
  
.banner .container{
    display: flex;
    height: 800px;
}

.container .quadro{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 720px;
    width: 1300px;
    margin-left: 120px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-bottom: 100px;
}

.quadro .menu{
    height: 720px;
    width: 260px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: black;
}

.menu .voltar{
margin-top: 25px;
margin-right: 190px;
}

.menu .voltar:hover{
    cursor: pointer;
    
}

.barranav span{
    font-weight:500;
    font-size: 25px;
}

.menu #nome span{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}

.menu #nome{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 15px;
    margin-right: 10px;
}
.menu .barranav{
    display: flex;
    border: 2px solid white;
    height: 80px;
    width:259px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.menu #selecao_favorita{
    font-weight: 1000;
}

.menu .barranav span:hover{
    cursor: pointer;
    font-weight: 1000;
}

.quadro .conteudo{
    display: flex;
    background-color: gray;
    height: 715px;
    width: 1037px;
    margin-top: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: gainsboro;
}

/* Seleções Favoritas */

#div_selecoes_favoritas .container{
    margin: 0;
    height: 715px;
}

#div_selecoes_favoritas .kpi{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#div_selecoes_favoritas .container .estatistica{
    width:300px;
    height: 240px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    margin: 0;
}

#div_selecoes_favoritas .container .estatistica:hover{
box-shadow: 6px 6px 10px black;
transition: .4s;
}


.estatistica .titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.estatistica .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.estatistica .escudo-selecao{
    display: flex;
    justify-content: center;
}

#selecaoFav1, #selecaoFav2, #selecaoFav3{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
}

#titulo-lista{
    display:flex;
    justify-content:center;
    width: 100%;
    font-size:35px;
    font-weight:700;
    margin-bottom:20px;
}

#div_selecoes_favoritas .container .lista{
    display: flex;
    margin-left: 25px;
    box-shadow: 3px 3px 10px black;
    border-radius: 20px;
    width: 95%;
    height: 400px;
    background-color: white;
    margin-bottom: 40px;
}

#div_selecoes_favoritas .container .lista:hover{
    box-shadow: 6px 6px 10px black;
    transition: .4s;
}

#div_selecoes_favoritas .container .lista ol{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#indice{
    display: flex;
    align-items: center;
    font-weight: 700;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

#ultimo{
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

#div_selecoes_favoritas .container .lista li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    height: 55px;
}

#div_selecoes_favoritas .lista .posicao-selecao{
    display:flex;
    justify-content:center;
    width: 33%;
}

#div_selecoes_favoritas .lista .nome-selecao{
    display:flex;
    justify-content:center;
    width: 33%;
}
#div_selecoes_favoritas .lista .qtdFavoritada{
    display:flex;
    justify-content:center;
    width: 33%;
}


/* Fase de Grupos */

#div_fase_grupos{
    overflow: scroll;
    overflow-y: hidden;
} 

#div_fase_grupos .container{
    width:2000px;
    height: 715px;
}

#div_fase_grupos table{
    width: 450px;
    height: 200px;
    background-color: black;
}

#div_fase_grupos table #nome_selecao{
    width: 400px
}


#div_fase_grupos table td{
height: 50px;
width: 50px;
background-color: white;
color: black;
text-align: center;
font-weight: 500;
}

#div_fase_grupos table .cabecalho{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

#div_fase_grupos table:hover{
    box-shadow: 6px 6px 10px black;
    transition: .6s;
}

#div_fase_grupos .colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

#div_fase_grupos .classificados{
    background-color: #15e30e;
    font-weight: 700;
}

#div_fase_grupos .legenda{
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 1040px;
    align-items: center;
    border-top-right-radius: 20px;
    position: absolute;
    margin-bottom: 650px;
    padding-left: 30px;
    background-color: white;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 5px solid black;
}

#div_fase_grupos .legenda .legenda-tabela1{
    display: flex;
    flex-direction: column;
}

#div_fase_grupos .legenda #stats-tabela{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 300px;
    margin-left: 50px;
    align-items: center;
}

#stats-tabela .nomes-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.nomes-stats .bolinha-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    border: 3px solid black;
    width: 30px;
    border-radius: 25px;
}

.nomes-stats span{
    margin-left: 20px;
    font-size: 25px;
}

#stats-tabela .coluna{
    display: flex;
    flex-direction: column;
}


#div_fase_grupos .separacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_fase_grupos .legenda span{
    font-weight: 800;
    font-size: 25px;
}

#div_fase_grupos .legenda #bolinha{
    background-color:#15e30e;
    height:35px;
    width: 35px;
    border-radius: 25px;
    border: 4px solid black;
    margin-right: 20px;
}

#div_fase_grupos .legenda #bolinha2{
    background-color:white;
    height:35px;
    width: 35px;
    border-radius: 25px;
    border: 4px solid black;
    margin-right: 20px;
}

#div_fase_grupos .legenda #desclassificados{
    margin-right: 212px;
    margin-top: 15px;
}

/* Eliminatórias */

#divEliminatorias{
    display: none;
    overflow: hidden;
    overflow-x: scroll;
}

#divEliminatorias .container{
width:1700px;
height: 100%;
flex-direction: row;
margin: 0;
padding-top: 50px;
}

#divEliminatorias .round{
    height: 100%;
    width: 220px;
    flex-direction: column;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

#divEliminatorias .round .etapa{
    display: flex;
    font-size: 23px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}


#divEliminatorias .round .partidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divEliminatorias .oitavas .partidas{
    margin-top: 75px;
    margin-bottom: 20px;

}

#divEliminatorias .quartas .partidas{
    margin-top: 150px;
    gap: 100px;
}

#divEliminatorias .semi .partidas{
    margin-top: 255px;
}

#divEliminatorias .final .partidas{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#divEliminatorias .final #taca{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#divEliminatorias .round ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100px;
    width: 220px;
    gap: 5px;
}

#divEliminatorias .round li{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 50%;
    width: 100%;
    background-color:white ;
}

.round li .imagem{
    display: flex;
    align-items: center;
    width: 20%;
}

.round li .nome{
    display: flex;
    align-items: center;
    width: 70%;
}

.round li .placar{
    display: flex;
    align-items: center;
    width: 10%;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.partidas ul #li-classificado{
    background-color: #15e30e;
}

.partidas ul span{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}