@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #006400;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid white;
}

.header .container {
  justify-content: space-between;
  height: 90px;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}


.titulo {
  /* color: */
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-size: cover;
}

.banner .container {
  height: 700px;
  width: 100%;
  font-size: 36px;
  /* justify-content: space-between; */
  align-items: center;
  
}

.container #img-cris{
  display: flex;
  justify-content: right;
  margin-top: 23px;
}

.container .jogos{
  display: flex;
  background-color: white;
  border-radius: 15px;
  width: 50vw;
  height: 70vh;
  justify-content: space-around;
  margin-right: 15vw;
  margin-left: 10vw;
  flex-direction: column;
  
}

.container .jogos h1{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: black;
  width: 100%;
}

.container .jogos .data-jogos{
  display: flex;
  flex-direction: row;
  width: 16vw;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-right: 24vh;
  margin-left: 24vh;
  margin-top: 2vh;
  border: solid black 3px;
  border-radius: 35px;
  padding-right: 1vw;
  padding-left: 1vw;
}

.jogos .lista-jogos{
  display: flex;
  /* background-color: #cedbd2; */
  width: 38vw;
  height: 50vh;
  margin-left: 3vw;
  margin-right: 2vw;
  margin-top: 1vh;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}


.lista-jogos .horario{
  width: 20%;
}

.horario span{
  display: flex;
  border: solid 2px black;
  border-radius: 30px;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  align-items: center;
  background-color:#cedbd2;
}

.lista-jogos .jogo1{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: flex-start;
}

.lista-jogos .jogo2{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo3{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo4{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo5{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo6{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo7{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo8{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo9{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}

.lista-jogos .jogo10{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 6vh;
  justify-content: center;
}


.lista-jogos .time1{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: none;
}

.lista-jogos .time2{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: none;
}
.lista-jogos .horario{
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
  font-size: 0.70em;
  justify-content: center;
}

.lista-jogos .nome-selecao{
  color: black;
  font-size: 25px;
  align-items: center;
  width: 50%;
}
.time1 .imagem-selecao{
  padding-left: 1vw;
}
.time2 .imagem-selecao{
  padding-right: 2vw;
}
.time1 .nome-selecao{
  margin-left: 1vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
.time2 .nome-selecao{
  margin-right: 1vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
.horario span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time1 i{
  color: black;
  width: 5vw;
  height: 5vh;
}
.tamanho-conteudo { 
  height: fit-content !important;
}

.banner .container span {
  font-weight: 800;
}

/* FOOTER */

.footer {
  background-color: white;
  height: 100px;
  color: black;
  display: flex;
  font-size: 15px;
  border-top: solid 3px black;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  /* color: palevioletred; */
  align-items: center;
  border-radius: 4px;
}


.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}