@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.header{
  display: flex;
  height: 80px;
  width: 100%;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-around;
  height: 50px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover{
  /* text-decoration:underline; */
  font-weight: 700;
  text-shadow: 1px 0px 5px black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 25px;
}
.header .container span{
  font-size: 40px;
  font-weight: 800;
  color: white;
}

/* BANNER */

.all{
  display: flex;
  flex-direction: column;
}


.banner {
  display: flex;
  height: 3000px;
  width: 100%;
  padding: 40px 0;
  background-image: url("../assets/imgs/background-blur.png");
  background-size: cover;
}

.banner .container {
  display: flex;
  height: 2930px;
  width: 100%;
  font-size: 36px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 30px;
}

/* Jogos do dia */

.container .jogos{
  display: flex;
  margin-top: 50px;
  background-color: white;
  border-radius: 15px;
  width: 610px;
  height: 400px;
  justify-content: space-around;
  margin-left: 28vw;
  flex-direction: column;
  border: solid black 2px;
  box-shadow: 3px 7px 15px black;
}

.container .jogos h1{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: black;
  width: 100%;
}

.container .jogos .data-jogos{
  display: flex;
  width: 200px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-top: 20px;
  border: solid black 3px;
  border-radius: 35px;
  padding-right: 50px;
  padding-left: 50px;
}

.jogos .lista-jogos{
  display: flex;
  width: 550px;
  height: 400px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}


.lista-jogos .horario{
  width: 20%;
}

.horario span{
  display: flex;
  border: solid 2px black;
  border-radius: 30px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color:#cedbd2;
}

.lista-jogos .jogo1{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 45px;
  justify-content: flex-start;
}

.lista-jogos .jogo2{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 45px;
  justify-content: center;
}

.lista-jogos .jogo3{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 45px;
  justify-content: center;
}

.lista-jogos .jogo4{
  display: flex;
  flex-direction: row;
  width: 100% ;
  height: 45px;
  justify-content: center;
}

.lista-jogos .time1{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: none;
}

.lista-jogos .time2{
  display: flex;
  width: 40%;
  border: 2px black solid;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: none;
}
.lista-jogos .horario{
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
  font-size: 23px;
  justify-content: center;
}

.lista-jogos .nome-selecao{
  color: black;
  font-size: 25px;
  align-items: center;
  width: 80%;
}

.time1 .nome-selecao{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.time1 i{
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.time2 i{
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.time2 .nome-selecao{
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.horario span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.tamanho-conteudo { 
  height: fit-content !important;
}
/* Carrosel */

.gallery{
  display: flex;
  width: 1000px;
  height: 800px;
  margin-top: 50px;
  margin-left: 250px;
  border: 6px solid black;
  overflow: hidden;
}

.gallery:hover{
  box-shadow: 7px 7px 15px black;
  transition: .4s;
}

.gallery .carrossel ol{
  width: 4000px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.barra-slide{
  display: flex;
  height: 35px;
  width: 200px;
  background-color: white;
  position: absolute;
  border: 3px solid black;
  border-radius: 40px;
  justify-content: space-around;
  align-items: center;
}

.gallery #barraCraques{
  margin-top: 470px;
  margin-left: 410px;
  
}

.barra-slide:hover{
  transition: .5s;
  box-shadow: 4px 4px 15px black;
}


.barra-slide .botoes{
  background-color: white;
  height: 15px;
  width:15px;
  border-radius: 20px;
  border: 5px solid black;
}

.barra-slide #botaoCR7{
  background-color: black;
}

.barra-slide .botoes:hover{
cursor: pointer;
}

.carrossel #cristiano{
  background-image: url(../assets/imgs/ic-cristiano-ronaldo-bg.jpg);
  background-position: cover;
  display: flex;
  width: 1000px;
  height: 700px;
}

.carrossel .divs-craques a{
  text-decoration: none;
  text-align: center;
  width: 140px;
  height: 50px;
  padding: 10px 25px;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 0, 0, 0.8);
}

.carrossel .divs-craques a:hover{
  font-weight: 1000;
  background-color: rgb(0, 0, 0, 1);
  box-shadow: 4px 4px 15px black;
  transition: .4s;
}

.carrossel .divs-craques span{
  font-size: 45px;
  font-weight: 800;
  text-align: left;
  width:1000px;
  height: 700px;
  padding:50px 50px;
  padding-right: 550px;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.carrossel #mbappe span{
  font-size: 45px;
  font-weight: 800;
  text-align: left;
  width:1000px;
  height: 700px;
  padding-right: 600px;
  padding-left: 50px;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.carrossel #neymar span{
  font-size: 45px;
  font-weight: 800;
  text-align: left;
  width:1000px;
  height: 700px;
  padding-right: 500px;
  padding-left: 40px;
  padding-top:50px;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.carrossel #richarlison span{
  font-size: 45px;
  font-weight: 800;
  text-align: left;
  width:1000px;
  height: 700px;
  padding-right: 50px;
  padding-left: 600px;
  padding-top: 20px;
  overflow: hidden;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}


.carrossel ol #mbappe{
  background-image: url("../assets/imgs/ic-mbappe-bg.jpg");
  display: flex;
  background-position: cover;
  width: 1000px;
  height: 700px;
}

.carrossel ol #neymar{
  background-image: url("../assets/imgs/ic-neymar-bg.jpg");
  background-position: cover;
  display: flex;
  width: 1000px;
  height: 700px;
}

.carrossel ol #richarlison{
  background-image: url("../assets/imgs/ic-richarlison-bg.jpg");
  background-position: cover;
  display: flex;
  width: 1000px;
  height: 700px;
}

/* Carrosel de Fotos minhas */
.fotos{
  display: flex;
  flex-direction: row;
  border: solid 5px white;
  height: 480px;
  width: 700px;
  margin-top: 50px;
  margin-left: 380px;
  margin-right: 50px;
  overflow: hidden;
}

.fotos ol{
  display: flex;
  flex-direction:row;
  height: 480px;
  width: 2500px;
  margin-left: 0px;
}

.fotos #barraminhasFotos{
  margin-top: 400px;
  margin-left: 250px;
  position: absolute;
}

.fotos ol #bebe{
  background-image: url("../assets/imgs/gabrielzinho-corinthians.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  width: 700px;
  border: 2px solid white;
}

.fotos ol #taca-copa{
  /* background-image: url("../assets/imgs/"); */
  background-color: red;
  height: 480px;
  width: 700px;
}

.fotos ol #foto-copa{
  background-color: purple;
  height: 480px;
  width: 700px;
}

/* Degradê */
body #degrade{
  width: 100%;
  height: 300px;
  background-image: linear-gradient(transparent,black);
}


/* Sobre mim */
.container .sobre{
  background-color: black;
  height: 2500px;
  width: 100%;
  color: white;
  /* margin-top: 150px; */
  flex-direction: column;
  justify-content: center;
}

.sobre .titulo{
  display: flex;
  justify-content: center;
  font-size: 65px;
  font-weight: 800;
}

.sobre .conteudo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.conteudo .futebol{
  /* border: solid 2px white; */
  height: 600px;
  margin-left: 50px;
  margin-right: 25px;
  font-size: 30px;
  width: 160%;
}

.conteudo .futebol h3{
  font-size: 45px;
}

.conteudo .copa h3{
  font-size: 45px;
}

.conteudo .copa{
  /* border: solid 2px white; */
  height: 800px;
  margin-right: 50px;
  margin-left: 25px;
  font-size: 30px;
  width: 160%;
}



/* FOOTER */

.footer {
  background-color: black;
  height: 120px;
  color: white;
  display: flex;
  font-size: 25px;
  border-top: solid 5px white;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.banner .container .card-login {
  background-color: #e5e5e5;
  height: 50vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
}


.banner .container h2{
  font-size: 50px;
  margin-top: 10px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: black 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 25px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

input {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  width: 150px;
  align-self: center;
  margin-top: 15px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}