*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
  
.banner{
  height: 850px;
  display: flex;
}
  
.banner .container{
    display: flex;
    height: 800px;
}

.container .quadro{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 720px;
    width: 1300px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-bottom: 100px;
}

.quadro .menu{
    /* border: solid 2px black; */
    height: 720px;
    width: 260px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: black;
}

.barranav span{
    font-weight:500;
    font-size: 25px;
}

.menu #nome{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800;
    color: white;
    border-top-left-radius: 15px;
}
.menu .barranav{
    display: flex;
    border: 2px solid white;
    height: 80px;
    width:259px;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px; */
    background-color: black;
    color: white;
}

.menu .barranav:hover, .menu .barranav span:hover{
    cursor: pointer;
    font-weight: 1000;
}

.quadro .conteudo{
    display: flex;
    background-color: gray;
    height: 715px;
    width: 1037px;
    margin-top: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: gainsboro;
}

/* Fase de Grupos */

#div_fase_grupos{
    overflow: scroll;
    overflow-y: hidden;
} 

#div_fase_grupos .container{
    width:2000px;
    height: 715px;
}

#div_fase_grupos table{
    width: 450px;
    height: 200px;
    background-color: black;
}

#div_fase_grupos table #nome_selecao{
    width: 400px
}


#div_fase_grupos table td{
height: 50px;
width: 50px;
background-color: white;
color: black;
text-align: center;
font-weight: 500;
}

#div_fase_grupos table .cabecalho{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

#div_fase_grupos table:hover{
    box-shadow: 6px 6px 10px black;
    transition: .6s;
}

#div_fase_grupos .colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

#div_fase_grupos .classificados{
    background-color: #15e30e;
    font-weight: 700;
}

#div_fase_grupos .legenda{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 1040px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    position: absolute;
    margin-bottom: 650px;
    background-color: white;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 5px solid black;
}

#div_fase_grupos .separacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_fase_grupos .legenda span{
    margin-left: 15px;
    font-weight: 800;
    font-size: 25px;
}

#div_fase_grupos .legenda #bolinha{
    background-color:#15e30e;
    height:50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid black;
}

#div_fase_grupos .legenda #bolinha2{
    background-color:white;
    height:50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid black;
}

#div_fase_grupos .legenda #desclassificados{
    margin-right: 212px;
    margin-top: 15px;
}


/* Titulos */

/* #div_titulos{
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#div_titulos .container{
display: flex;
flex-direction: column;
border: solid 3px yellow;
width: 100%;
height: 1500px;
margin: 0;
/* border-top-right-radius: 20px;
border-bottom-right-radius: 20px; */
/* }

#indices{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    border: 2px solid black;
    margin-top:0px;
    
}

#anoEdicoes, #indiceSede, #indiceVencedor{
    width: 33%;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.selecao .nome,.selecao .VencedorFinal,.selecao .ano{
    width: 33%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
    /* border: 3px solid black; */
    
/* }

#qtdTitulos{
    text-align: center;
}

.container .selecao{
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selecao #anoGuerra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 38px;
}

.container #guerra{
    height: 120px;
    flex-direction: row;
}

#guerra span{
    font-size: 25px;
    font-weight: 700;
}

.selecao .nome{
    flex-direction: row;
}

.selecao .bandeira{
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Eliminatórias */

#divEliminatorias{
    display: none;
    overflow: hidden;
    overflow-x: scroll;
}

#divEliminatorias .container{
width:1700px;
height: 100%;
flex-direction: row;
margin: 0;
padding-top: 50px;
}

#divEliminatorias .round{
    /* border: 2px solid black; */
    height: 100%;
    width: 220px;
    flex-direction: column;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

#divEliminatorias .round .etapa{
    display: flex;
    font-size: 23px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}


#divEliminatorias .round .partidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divEliminatorias .oitavas .partidas{
    margin-top: 75px;
    margin-bottom: 20px;

}

#divEliminatorias .quartas .partidas{
    margin-top: 150px;
    gap: 100px;
}

#divEliminatorias .semi .partidas{
    margin-top: 255px;
}

#divEliminatorias .final .partidas{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#divEliminatorias .final #taca{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#divEliminatorias .round ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100px;
    width: 220px;
    gap: 5px;
}

#divEliminatorias .round li{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 50%;
    width: 100%;
    background-color:white ;
}

.round li .imagem{
    display: flex;
    align-items: center;
    width: 20%;
}

.round li .nome{
    display: flex;
    align-items: center;
    width: 70%;
}

.round li .placar{
    display: flex;
    align-items: center;
    width: 10%;
    font-size: 20px;
    margin-right: 5px;
}

.partidas ul #li-classificado{
    background-color: #15e30e;
}

.partidas ul span{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}